@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-heading: #45393B;
  --text-paragraph: #6E5D60;
  --text-btn: #000000;
  --background-primary: #000000;
  --background-secondary: #6E5D60;
  --background-accent: #F7F4D3;
  --background-card: #FAD3A7;
  --color-lines: #112A46;

}

@media (prefers-color-scheme: dark) {
  :root {
    --text-heading: #feabc4;
    --text-paragraph: #ffffff;
  --text-btn: #000000;
  --background-primary: #ea1a7f;
  --background-secondary: #f97da8;
  --background-accent: #0a0146;
  --background-card: #281b59;
  --color-lines:#766895;
  }
}

body {
  color: var(--background-text);
  background-color: var(--background-accent);
  @apply h-screen w-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.shadow-glow{
    box-shadow: inset 0 0 3px #fff, inset -3px 0 72px #fc95b6,
    0 0 3px #fff;
}
.menu-item{
  @apply font-sans text-xl px-2 py-5 leading-6 block text-heading;
}
.menu-item>i{
  @apply pr-3;
}
.menu-tooltip{
 @apply scale-0 absolute;
}
.menu-item:hover .menu-tooltip{
  @apply scale-100 ease-in duration-200;
}

.glow-ruler{
  border-top: 1px dashed var(--pink-glow);
}

.pink-glow{
  background-color: var(--pink-glow);
}

.orange-glow{
  background-color: var(--orange);
}
.glassbox{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.glassbox-dark{
  /* From https://css.glass */
background: rgba(31, 35, 50, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(31, 35, 50, 0.3);
}

.section-wrapper{
  @apply w-full min-h-screen pl-[5%] pt-[8%] pb-[8%] pr-[10%] mb-[2%] ;
}
.section-content{
  @apply w-full h-full flex justify-center items-center  max-md:mt-[10%];
}

.about-card{
  //background: linear-gradient(45deg, #1717cf, #2B2BFF, #ab57ff);
  @apply py-4 bg-cardbg text-paragraph text-base rounded-lg drop-shadow-md min-w-40 shadow-slate-600;
}
.divider{
  border: 1px solid;
}
.button{
  background-color:var(--background-primary);
  color: var(--text-btn);
  @apply rounded-lg p-3 m-2;
}
.company{
  @apply font-bold text-2xl text-heading font-sans pt-5 pb-3;
}
.duration{
 @apply font-sans text-heading py-2;
}
.company-desc{
  @apply font-serif text-paragraph text-xl py-3 pl-3 list-outside list-disc text-justify;
}
.dividercontact{
  border: 1px solid var(--color-lines);
  width: 1px;
  margin: auto;
}